*{
    box-sizing: border-box;
}

body{
    display:flex;
    background-color: #1289A7;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}

header{
    background-color: rgb(3, 34, 75);
    width: 40%;
    height: 600px;;
    text-align: left;
    color:aliceblue;
}

form{
    justify-content: space-between;
    margin-top: 0px;
}

input{
    border-radius: 5px;
}

.boton{
    margin: 10px;
    padding:20px;
    width: 90px;
      
}
.boton1{
    margin: 15px;
    padding: 10px;
    width:50%;
}

.boton2{
    margin: 15;
    padding: 8px;
    width: 60%;

}


